<!DOCTYPE html>
<html>

<head>
  <title>Pythons</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
    <body>
  <header>
    <div class="container">
      <h2 class="logo">Dries loves python now</h2>
      <strong>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav>
      </strong>
    </div>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>